/* Primero se resetean los estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #262626;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FIN de reseteo de estilos */

body {
  background-color: #3315cd;
  display: flex;
  margin-left: 249px;
  margin-right: 492px;
}

/* PARTE LATERAL IZQUIERDA NAV */

nav {
  display: flex;
}

.lateral {
  background-color: #ec8484;
  display: flex;
  flex-direction: column;
  width: 244px;
  height: auto;
  font-family: roboto; /*IGUAL TENGO QUE DESCARGARLA DE GOOGLE FONTS*/
  font-size: 16px;
}

.lateral a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 24px;
}

.logo {
  margin-top: 20px;
  margin-right: 118px;
  margin-bottom: 30px;
  padding-top: 24px;
}

a p {
  padding: 12px 125.11px 12px 12px;
}

/* FIN DE PARTE LATERAL IZQUIERDA NAV */

/*HEADER*/

header {
  background-color: #d78ee9;
  padding-top: 73px;
  padding-bottom: 44px;
  width: 935px;
  height: 267px;
  display: flex;
  justify-content: center;
}

.avatar {
  background-color: #ffdbcb;
  padding-left: 71px;
  padding-right: 101px;
}

.verde {
  background-color: #7bff98;
  padding: 14px 0px;
  width: 613px;
  height: 150px;
}

button {
  background-color: #0095f6;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 355px; /*Semibold*/
  padding: 6px 24px;
  border-radius: 4px;
  margin: 1px 0px 1px 20px;
}

.amarillo {
  background-color: #ffc700;
  display: flex;
  align-items: center;
  padding: 8px;
  width: 613px;
  height: 40px;
}

h1 {
  font-weight: normal;
  font-size: 28px;
}

.naranja {
  background-color: #ff852d;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  width: 613px;
  height: 58px;
}

.naranja > h3 {
  font-size: 16px;
}

.naranja h2 {
  font-size: 16px;
  font-weight: normal;
}

.rojo {
  background-color: #d85151;
  display: flex;
  align-items: center;
  padding: 4px 0px;
  width: 613px;
  height: 24px;
}

.rojo h3 {
  font-size: 16px;
  font-weight: 600;
}

/* FIN DE PARTE HEADER */

/*PARTE CENTRAL*/

main {
  background-color: #fafafa;
  width: 935px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* PARTE SUPERIOR STORIES */

.musgo {
  background-color: #4bbf41;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 48px;
  padding-bottom: 44px;
  width: 548px;
  height: 174px;
}

.story {
  padding: 11px 23px;
}

.musgo h3 {
  padding: 15px 11px 0px 11px;
  font-size: 14px;
  font-weight: 600;
}

/*NAV2*/

.nav2 {
  background-color: #921699;
  height: 53px;
  width: 935px;
  display: flex;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
}

.fotos img {
  display: flex;
  align-content: flex-end;
}
